<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    
    <nlog>
      <targets>
        <target name="c1" type="Console" />
      </targets>
      <rules>
        <logger name="*" minlevel="Info" writeTo="c1" />
        <!--<logger name="Expando" minlevel="Info" writeTo="c1" />
      <logger name="SimpleTableTests" minlevel="Info" writeTo="c1" />-->
      </rules>
    </nlog>
</configuration>